# macOS
.DS_Store

# node / npm
node_modules/

# Next.js (frontend)
frontend/.next/
frontend/out/

# Env files
.env*
frontend/.env*
backend/.env*

# Rails (backend)
backend/log/
backend/tmp/
backend/vendor/
backend/node_modules/
